/* Theme: Glacier */

.cm-s-Glacier.CodeMirror { color: #efefef; }
.cm-s-Glacier.CodeMirror { background: #0e151b; }
.cm-s-Glacier .CodeMirror-gutter { background: #0e151b; }
.cm-s-Glacier .CodeMirror-gutters { border-right: 1px solid transparent; }
.cm-s-Glacier .CodeMirror-cursor { border-left: 1px solid #ffe792; }
.cm-s-Glacier .CodeMirror-activeline-background { background: #0d1319 !important; }
.cm-s-Glacier .CodeMirror-selected { background: #bd4230; }
.cm-s-Glacier .cm-comment { color: #515c68; }
.cm-s-Glacier .cm-string { color: #ffe792; }
.cm-s-Glacier .cm-string-2 { color: #5eebb8; }
.cm-s-Glacier .cm-property { color: #ffffff; }
.cm-s-Glacier .cm-attribute { color: #f57542; }
.cm-s-Glacier .cm-keyword { fontStyle:  bold; color: #d7503c; }
.cm-s-Glacier .cm-error { background: #d7503c; color: #F8F8F8; }
.cm-s-Glacier .cm-invalidchar { background: #d7503c; color: #F8F8F8; }
.cm-s-Glacier .cm-variable { color: #d73c4d; fontStyle:  bold; }
