$black: #000;
$dark: #131313;

body {
    background: $dark;
    font-family: 'Lucida Console', monospaced;
    color: #fff;
}

@media (min-width: 768px) {
    .document-menu {
        text-align: right;
        z-index: 10;
        width: 400px;
        position: fixed;
        top: 0;
        right: 0;
    }
}

.CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}