<ul class="flashes">
    <% if alert %>
        <li class='alert'><%= alert %></li>
    <% end %>

    <% yield :errors %>

    <% if notice %>
        <li class='notice'><%= notice %></li>
    <% end %>
</ul>